/* Boiler Plate Styling */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Some universal class styling options */
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Header Styles */
header {
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
